.profile{
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  &__links{
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 5;

    &_link{

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &::after {
    content: "";
    background: linear-gradient(268deg, rgba(109, 149, 252, 0.67) -20.55%, rgba(109, 149, 252, 0) 25.97%);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &::before {
    content: "";
    background: linear-gradient(90deg, rgba(108, 149, 252, 0.67) -20.55%, rgba(109, 149, 252, 0) 25.97%);
    position: absolute;
    height: 100%;
    width: 100%;
  }


  &__content{
    border: 3px solid #6d95fc;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 7px 5px rgba(255, 255, 255, 0.2);
    width: 1000px;
    height: 400px;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      background: linear-gradient(180deg, rgba(108, 149, 252, 0.67) -20.55%, rgba(109, 149, 252, 0) 25.97%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }

  &__left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-right: 3px solid #6d95fc;
    width: 30%;

    &_name{
      color: white;
      font-size: 25px;
    }

    &_post{
      font-size: 20px;
      color: #777777;
    }
  }

  &__right{
    padding: 20px 20px;
    width: 70%;

    &_list{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-right: 15px;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #6d95fc;
        border-radius: 10px;
      }
    }

    &_item{
      position: relative;
      z-index: 4;
      border: 3px solid #6d95fc;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      color: white;

      &_data{
        color: white;
        font-size: 20px;
      }

      &_cause{
        color: #666666;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 750px) {
  .profile__content{
    height: 350px;
  }
}

@media (max-width: 650px) {
  .profile__content{
    height: 350px;
  }
  .profile__left{
    display: none;
  }
  .profile__right{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .profile__content {
    border: none;
    overflow: initial;
    box-shadow: none;
    height: 100%;

    &::after {
      background: none;
    }
  }

  .profile{
    padding: 0 ;
  }
  .profile__right{
    padding: 10px 2px 10px 5px;
  }
}

@media (max-width: 350px) {
  .profile__right_item_data{
    font-size: 18px;
  }
  .profile__right_item_cause{
    font-size: 18px;
  }
}