.panel {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 50px;
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(
      268deg,
      rgba(108, 149, 252, 0.67) -20.55%,
      rgba(109, 149, 252, 0) 25.97%
    );
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  &::before {
    content: "";
    background: linear-gradient(
      90deg,
      rgba(108, 149, 252, 0.67) -20.55%,
      rgba(109, 149, 252, 0) 25.97%
    );
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

.list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__item{
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 5;
    justify-content: space-between;

    &:hover {
      border: 1px solid orange;
      transform: scale(1.01);
    }

    &:active{
      transform: scale(0.99);
    }

    &_right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &_left{
      display: flex;
      align-items: center;
      column-gap: 20px;

      &_box{

      }

      &_name{
        font-size: 23px;
      }

      &_post{
        font-size: 20px;
        color: #666666;
        margin-top: -5px;
      }
    }
  }
}
