@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  transition: 0.3s;
}

button {
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.95);
  }
}
::-webkit-scrollbar {
  display: none;
}
