.auth{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
  padding: 0 20px;

  &__link{
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    z-index: 5;

    &_btn{
      background: transparent;
      border-radius: 5px;
      color: white;
      padding: 6px 20px;
      font-weight: 600;
      font-size: 19px;
    }
  }

  &::after{
    content: '';
    background: linear-gradient(268deg, rgba(109, 149, 252, 0.67) -20.55%, rgba(109, 149, 252, 0) 25.97%);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.form{
  border: 3px solid #6d95fc;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
  height: 450px;
  width: 900px;
  box-shadow: 5px 7px 5px rgba(255, 255, 255, .2);

  &__box{
    text-align: center;

    &_btn{
      background: transparent;
      border-radius: 5px;
      color: white;
      border: 3px solid #6d95fc;
      padding: 6px 20px;
      font-weight: 600;
      font-size: 19px;
    }
  }


  &__left{
    width: 40%;
    background: #6d95fc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    row-gap: 20px;

    &_circle{
      width: 100px;
      height: 100px;
      background: black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_user{
      fill: #6d95fc;
      font-size: 90px;
    }

    &_subtitle{
      font-weight: 700;
      font-size: 40px;
      line-height: 0;
      color: black;
    }
  }

  &__right{
    border-radius: 10px;
    background: linear-gradient(179.96deg,#12192b .03%,rgba(18,25,43,0) 109.04%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    &_content{
      width: 60%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &_label{
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid #6d95fc;
      border-radius: 4px;
    }

    &_icon{
      width: 50px;
    }

    &_input{
      padding: 0 10px;
      font-size: 20px;
      border-radius: 4px;
      outline: none;
      width: 100%;
      height: 100%;
      background: transparent;
      color: white;
      border: none;
    }

    &_option{
      background: transparent;
      color: black;
    }
  }
}



@media (max-width: 900px) {
  .form__right_content{
    width: 80%;
  }
}

@media (max-width: 650px) {
  .form__right_content{
    width: 90%;
  }
  .form__left{
    display: none;
  }

  .form__right{
    width: 100%;
  }
}

@media (max-width: 400px) {
  .form{
    background: transparent;
    border: none;
    box-shadow: none;

    &__right{
      background: transparent;
    }
  }
  .auth{
    padding: 0 10px;
  }
}

@media (max-width: 350px) {
  .auth{
    padding: 0 2px;
  }
}

